body{
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fix brute-forcing width of container */
.container{
    display: flex;
    border: black solid 2px;
    width: 288px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contentGrid{
    background-color:yellow;
    margin:0px;
    padding: 8px;
    border: 1px solid black;
}