body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* fix brute-forcing width of container */
.container{
    display: flex;
    border: black solid 2px;
    /* max-width: fit-content; */
    max-height: fit-content;
    width:  512px;
    /* height: 512px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contentGrid, .contentHovered{
    margin:0px;
    width: 5px;
    height: 5px;
    /* width:3.125%;  */
    /* height:3.125%; */
}

.contentGrid{
    background-color:yellow;
}

.contentHovered{
    background-color: black;
}

button{
    display:block;
    padding: 8px;
}
.containerButton{
    display: flex;
    width: 800px;
    justify-content: space-between;
    gap: 48px;
}
.title{
    font-size: 30px;

}